.grid-container
  display: grid
  grid-template-columns: 1fr
  grid-template-rows: 0.5fr 0.58fr 2fr 0.7fr 1fr 1fr
  gap: 0% 0px
  grid-template-areas: "header" "banner" "main" "parallax" "main2" "footer"

.header
  grid-area: header
  display: flex
  flex-direction: row
  justify-content: space-evenly
  align-items: center

.banner
  grid-area: banner
  background-image: url("assets/img/banner.jpg")
  background-attachment: scroll
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.main
  grid-area: main
  display: grid
  gap: 30px 30px
  padding: 30px

.tile1
  display: grid
  grid-template-columns: 1fr
  grid-template-rows: 1fr
  gap: 0px 0px
  grid-template-areas: "."
  grid-area: tile1
  background-color: grey

.tile2
  display: grid
  grid-template-columns: 1fr
  grid-template-rows: 1fr
  gap: 0px 0px
  grid-template-areas: "."
  grid-area: tile2
  background-color: grey

.tile3
  grid-area: tile3
  background-color: grey

.offset
  display: grid
  gap: 30px 30px
  grid-area: offset

  div
    background-color: grey

.offset-tile1
  grid-area: offset-tile1

.offset-tile2
  grid-area: offset-tile2

.parallax
  grid-area: parallax
  background-image: url("assets/img/parallax.jpg")
  background-attachment: fixed
  background-size: cover
  background-repeat: no-repeat

.main2
  display: grid
  gap: 30px 30px
  grid-area: main2
  padding: 30px

  div
    background-color: grey

.main2-tile1
  grid-area: main2-tile1

.main2-tile2
  grid-area: main2-tile2

.footer
  grid-area: footer
  display: grid
  background-color: #26272b
  padding: 45px 20px 20px
  font-size: 0.6rem
  line-height: 24px
  color: #737373

  .footer-about
    grid-area: about
    margin: 0 15px

  .footer-categories
    grid-area: categories
    margin: 0 15px

  .footer-quicklinks
    grid-area: quicklinks
    margin: 0 15px

  hr
    grid-area: hr
    width: 90%

  h6
    color: #fff
    font-size: 0.8rem
    text-transform: uppercase
    margin-top: 5px
    letter-spacing: 2px

  .footer-links
    padding-left: 0
    list-style: none

    li
      display: block

    a
      color: #737373

      &:active, &:focus, &:hover
        color: #3366cc
        text-decoration: none

  hr
    border-top-color: #bbb
    opacity: 0.5

  .footer-bottom
    grid-area: bottom
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: flex-end

    .copyright-text
      margin-bottom: 0
      display: inline

    .social-icons
      display: inline
      float: right
      padding-left: 0
      margin-bottom: 0
      text-align: right

      li
        list-style: none
        display: inline-block
        margin-bottom: 4px

        a
          background-color: #eceeef
          color: #818a91
          font-size: 16px
          display: inline-block
          // line-height: 44px
          width: 2rem
          height: 2rem
          text-align: center
          margin-right: 8px
          padding: auto
          border-radius: 100%
          -webkit-transition: all .2s linear
          -o-transition: all .2s linear
          transition: all 0.2s linear

          &:active, &:focus, &:hover
            color: #fff
            background-color: #29aafe

          &.facebook:hover
            background-color: #3b5998

          &.twitter:hover
            background-color: #00aced

          &.linkedin:hover
            background-color: #007bb6

          &.dribbble:hover
            background-color: #ea4c89

          .fa
            font-size: 1.2rem
            line-height: 2rem