.banner
  grid-area: banner
  height: 40vh
  background-image: url("assets/img/banner.jpg")
  background-attachment: scroll
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.main
  grid-area: main
  height: 90vh
  display: grid
  gap: 30px 30px
  padding: 30px

  .tile1
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: 1fr
    gap: 0px 0px
    grid-template-areas: "."
    grid-area: tile1
    background-color: grey

  .tile2
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: 1fr
    gap: 0px 0px
    grid-template-areas: "."
    grid-area: tile2
    background-color: grey

  .tile3
    grid-area: tile3
    background-color: grey

  .offset
    display: grid
    gap: 30px 30px
    grid-area: offset

    div
      background-color: grey

    .offset-tile1
      grid-area: offset-tile1

    .offset-tile2
      grid-area: offset-tile2

.parallax
  grid-area: parallax
  height: 50vh
  background-image: url("assets/img/parallax.jpg")
  background-attachment: fixed
  background-size: 100%
  background-repeat: no-repeat

.main2
  display: grid
  height: 45vh
  gap: 30px 30px
  grid-area: main2
  padding: 30px

  div
    background-color: grey

  .main2-tile1
    grid-area: main2-tile1

  .main2-tile2
    grid-area: main2-tile2
