.banner
  grid-area: banner
  height: 40vh
  background-image: url("assets/img/banner.jpg")
  background-attachment: scroll
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.main
  grid-area: main
  height: 90vh
  display: grid
  gap: 30px 30px
  padding: 30px
  margin: 0 auto

  div
    // width: calc( 90/ -  )

  .tile1
    grid-area: tile1
    background-color: grey
    // &::before
    //   content:     ""
    //   display:     block
    //   padding-top: 100% /* initial ratio of 1:1*/

  .tile2
    grid-area: tile2
    background-color: grey

  .tile3
    grid-area: tile3
    background-color: grey

  .offset
    display: grid
    gap: 30px 30px
    grid-area: offset

    div
      background-color: grey

    .offset-tile1
      grid-area: offset-tile1

    .offset-tile2
      grid-area: offset-tile2

.parallax
  background-image: url("assets/img/parallax.jpg")
  background-attachment: fixed
  background-repeat: no-repeat

.main2
  display: grid
  height: 45vh
  gap: 30px 30px
  grid-area: main2
  padding: 30px

  div
    background-color: grey

  .main2-tile1
    grid-area: main2-tile1

  .main2-tile2
    grid-area: main2-tile2
